@import url(../global.css);

section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align:start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
    padding-top: 7em;
    position: relative;
}

.sec_1 {
    background: url(../img/section-d.webp) center center;
    background-size: cover;
    background-attachment: fixed;
}

.sec_2 {
    background: url(../img/section-b.webp) center center;
    background-size: cover;
    background-attachment: fixed;
}

.sec_3 {
    background: url(../img/section-c.webp) center center;
    background-size: cover;
    background-attachment: fixed;
}

.sec_5 {
    background: url(../img/section-a.webp) center center;
    background-size: cover;
    background-attachment: fixed;
}

.sec_6 {
    background: url(../img/section-e.webp) center center;
    background-size: cover;
    background-attachment: fixed;
}

.sec_6 div {
    position: absolute;
    bottom:0;
    left:0;
    background-color: black;
    width: 100vw;
}

.sec_6 div ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3em 0em 2em 0em;
    gap:10px 30px;
    font-size: 12px;
    font-weight: 500;
}

h1 {
    font-size: 45px;
    width: 500px;
}





