@import url(../global.css);

* {
    line-height: 1.6em;
}


header {
    position: absolute;
}

body {
    all:initial;
    font-family: poppins;
    color:white;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 100px;
    font-weight:500;
}

h3 {
    font-size: 40px;
}

.imgBG {
    height: 100vh;
    width: 100vw;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .7em;
    margin:1em 0em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
}

.detail span span {
    color: rgba(255, 255, 255, 0.37);
}

.sec-a {
    background:url(../img/falcon-9.webp) center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: relative;
}
@media(max-width:645px){
    h1 {
        font-size: 50px;
    }
}

.sec-b {
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
    padding: 2.5em 0em 3.5em 0em;
}
.sec-b span {
    display: block;
    text-align: center;
}
.sec-b span:nth-of-type(1){
    font-size: 110px;
}
.sec-b span:nth-of-type(2){
    font-size: 23px;
}
@media(max-width:850px){
    .sec-b {
        gap: 50px;
        flex-wrap: wrap;
    }
    .sec-b span:nth-of-type(1){
        font-size: 60px;
    }
    .sec-b span:nth-of-type(2){
        font-size: 18px;
    }
}



.sec-c {
    position:sticky;
    top:0;
    left:0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 5em;
    height: 100vh;
    z-index: -1;
    transition: 1s;
}
.sec-c_des {
    height: 140vh;
    width: 500px;
    font-size: 18px;
    margin-top: -55vh;
    margin-left: 10vw;;

}
.sec-c_OV {
    width: 500px;
    opacity: 0;
    transition: .2s;
}
.sec-c.Proto {
    background:url(../img/falcon-9_lines.jpg) center center;
    background-size: cover;
}
.sec-c.Model {
    background:url(../img/falcon-9_model.jpg) center center;
    background-size: cover;
}
@media(max-width:630px){
    .sec-c {
        padding:0em;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .sec-c_des {
        margin-left:0;
        width: initial;
        padding: 0em 1em;
        height: 170vh;
    }
    .sec-c_OV {
        width: 90vw;
        background-color:rgba(0, 0, 0, 0.68);
        border-radius: 5px;
        padding: 0em 1em;
    }
    .sec-c_OV div span {
        font-size: 13px;
    }
}


.sec-d {
    background: url(../img/f9_video_Bg.jpg) center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.sec-d:hover i {
    transform: scale(.8);
}
.sec-d_text {
    position: absolute;
    bottom: 5em;
    left:3em;
}
.sec-d_text h3 {
    font-size: 45px;
}
.sec-d i {
    font-size: 70px;
    transition: .2s;
}
.player {
    background-color: black;
    position: fixed;
    top:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 1s;
}
.player iframe {
   width: 70vw;
   height: 85vh;
}
.player i {
    position: absolute;
    top:40px; 
    right:60px;
    font-size: 30px;
    cursor:pointer
}
.player span {
    position: absolute;
    bottom:20px;
    font-weight: 600;
}


.sec-e {
    background: url(../img/merlin.jpg) center center;
    background-size: cover;
    padding-top: 7em;
    padding-left: 5em;
}
.sec-e_Text {
    width: 450px;
}
.sec-e_Text .note {
    display: block;
    margin: 2em 0em;
    font-weight: 500;
}
.sec-e_Text .note span {
    color:rgba(255, 255, 255, 0.37);
}
.sec-e_Text p  {
    margin: 2em 0em;
}


.sec-f {
    background: url(../img/section-z.webp) center top;
    background-size: cover;
    height: 85vh;
}



.sec-g  {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap:75px;
}
.sec-g .des {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 3em 1em 3em;
    height: 15vh;
}
.sec-g .info {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap:15px;
}
.sec-g .info .bar {
    height: 170px;
    width: 1px;
    background-color: white;
}
.sec-g .info .note {
    font-size:13px;
    font-weight: 300;
}
.sec-g .info .note span {
    color: rgba(255, 255, 255, 0.37);
}
.sec-g .info .btns  {
    display: flex;
    align-items: center;
    gap:20px;
}
.sec-g .info .btns button {
    font-size: 13px;
    font-weight: 600;
    width: max-content;
    padding: 1.2em 1.5em;
    border-width: 2px;

}
.sec-g i {
cursor: pointer;
font-size: 25px;
}


footer  {
    display: flex;
    align-items: end;
    justify-content: center;
}


