@import './_partials/layout';


.Hero {
    background: url(../img/falcon-9.webp) center center;
    background-size: cover;
}

.Model {
    background: url(../img/falcon-9_lines.jpg) center center;
    background-size: cover;
    position: sticky;
    top:0;
    @include flexbox(center,flex-start,0px,column);
    padding-left: 6em;
    opacity: .6;
}
.Model__Note {
    width: 475px;
    border:1px solid red;
    height: 900px;
    margin-left: 5em;
    margin-top: -25em;
}
