@import './_partials/layout';


.Hero.Landing {
    background: url(../img/falcon-heavy.webp) center center;
    background-size: cover;
    text-align: center;
}


.Hero.FHeavy {
    background: url(https://www.spacex.com/static/images/falcon-heavy/desktop/WebsiteFHFairings_Lines_Desktop.jpg) center center;
    background-size: cover;
  }


  .Video {
    background: url(https://www.spacex.com/static/images/backgrounds/fh_video.jpg) center center;
    background-size: cover;
    @include flexbox(end,start,0px,column);
    position: relative;
}





.Hero.Merlin {
  background: url(../img//merlin.jpg) center center;
  background-size: cover;
  align-items: start;
}
@media(max-width:775px){
  .Hero.Merlin {
      @include flexbox(center,center,0px,column);
  }
}
