@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f9fa;

}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-weight: 300;
    line-height: 1.9em;
    opacity: .7;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.order {
    background-color: white;
    border-radius: 5px;
    color: #18182f;
    padding: 1.2em 3.5em;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}


body {}

.open {
    position: fixed;
    right: 5%;
    top: 20px;
    color: transparent;
    border: 3px solid black;
    padding: .2em;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.close {
    position: fixed;
    right: 5%;
    top: 20px;
    color: transparent;
    border: 3px solid white;
    padding: .2em;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: -1;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 7em;
    color: white;
    z-index: 1;
}

header .logo {
    width: 22px;
    height: 22px;
    border: 3.5px solid;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav ul li {
    font-size: 13px;
}

header nav ul li+li {
    opacity: .5;
}

header nav .signUp {
    color: white;
    background-color: rgba(255, 255, 255, 0.136);
    border-radius: 5px;
    padding: 1em 2.3em;
    opacity: 1;
}

@media(max-width:800px) {
    header nav {
        position: fixed;
        top: -100vh;
        right: 0;
        background-color: rgba(0, 0, 0, 0.961);
        padding: 1em 0em;
        width: 300px;
        height: 100vh;
        transition: .3s;
        z-index: 1;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        font-size: 18px;
    }

    .open,
    .close {
        display: block;
    }
}

.landingImgContainer {
    background-color: #18182f;
    display: flex;
    justify-content: flex-start;
    padding: 15em 7em 10em 7em;
    clip-path: polygon(0 0, 100% 0, 100% 56%, 100% 56%, 0 76%, 0% 50%);

}

.landingImgContainer .text {
    width: 40%;
    height: 450px;
    color: white;
}

.text h1 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 10px;
}

.text .btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 50px;
    margin-top: 50px;
}

.text .btns .create {
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.btns .create i {
    margin-right: 23px;
}

.device {
    width: 650px;
    height: 450px;
    background-color: white;
    box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.44);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    top: 25%;
    z-index: 1;
}

.device .screen {
    width: 550px;
    height: 420px;
    background-color: rgba(0, 0, 128, 0.19);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device .screen div {
    width: 200px;
    height: 130px;
    background-color: #18182f;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen div {
    width: 200px;
    height: 130px;
    background-color: #18182f;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen div i {
    font-size: 30px;
}

@media(max-width:1280px) {
    .landingImgContainer {
        padding: 8em 2em;
        padding-bottom: 15em;
    }

    header {
        padding: 2em 2em;
    }


    .device {
        width: 40vw;
    }

    .device .screen {
        width: 90%;
    }

    .device .screen div {
        width: 50%;
    }

}

@media(max-width:1175px) {

    .landingImgContainer .text {
        width: 50%;
    }
}

@media(max-width:780px) {
    .landingImgContainer {
        clip-path: none;
    }
}

@media(max-width:550px) {
    .landingImgContainer {
        justify-content: center;
        align-items: center;

    }

    .landingImgContainer .text {
        width: 90%;
    }

    .device {
        display: none;
    }
}

.brandsContainer {
    padding: 0em 7em;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    color: rgba(0, 0, 0, 0.352);
    flex-wrap: wrap;
}

.brandsContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.brandsContainer div.netflix {
    width: 100px;
}

.brandsContainer div span {
    font-size: 20px;
    font-weight: 600;
}

.brandsContainer div:last-child span {
    font-size: 25px;
    font-weight: 800;
}

.brandsContainer div i {
    font-size: 50px;
}

@media(max-width:780px) {
    .brandsContainer {
        padding-top: 7em;
    }
}

@media(max-width:500px) {
    .brandsContainer {
        padding-top: 7em;
        justify-content: center;
        gap: 20vw;
    }

    .brandsContainer div.netflix {
        width: 150px;
    }

    .brandsContainer div.netflix img {
        min-width: 150px;
    }

    .brandsContainer div span {
        font-size: 30px;
        font-weight: 600;
    }

    .brandsContainer div:last-child span {
        font-size: 35px;
        font-weight: 800;
    }

    .brandsContainer div i {
        font-size: 60px;
    }
}

.helpContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
    padding-top: 5em;
}

.helpContainer .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.helpContainer .left p:nth-child(1) {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.737);
    margin-bottom: -15px;
}

.helpContainer .left h2 {
    font-weight: 400;
    font-size: 30px;
}

.helpContainer .left .order {
    background-color: #18182f;
    color: white;
    width: 220px;
    text-align: center;
    margin-top: 50px;
}


.helpContainer .right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 30px;

}

.helpContainer .right .card {
    width: 40%;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.3);
}

.right .card .img img {
    border-radius: 5px 5px 0px 0px;
    height: 13vw;
    min-width: 100%;
}

.right .card {
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.right .card p:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
}

.right .card p:nth-child(3) {
    font-size: 14px;
    width: 85%;
    margin: auto;
}

@media(max-width:1000px) {
    .helpContainer {
        flex-direction: column;
        gap: 4vh;
    }

    .helpContainer .left {
        width: 100%;
    }

    .helpContainer .right {
        width: 100%;
        justify-content: initial;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 1em;
        gap: 20px;
    }

    .helpContainer .right .card {
        min-width: 300px;
        box-shadow: none;
        transition: .3s;
    }

    .helpContainer .right .card:hover {
        box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 1);
        transform: scale(1.009);

    }

    .right .card .img {
        width: 100%;
        height: 300px;
    }

    .right .card .img img {
        width: 100%;
        height: 100%;
    }
}

@media(max-width:400px) {
    .helpContainer .right .card {
        min-width: 70vw;
    }
}

.cloneContainer {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
    padding-top: 5em;
}


.cloneContainer .img {
    width: 55%;
}


.cloneContainer .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;

}


.cloneContainer .right p:nth-child(1) {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.737);
    margin-bottom: -15px;
}

.cloneContainer .right p:nth-child(1) {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.737);
    margin-bottom: -15px;
}

.cloneContainer .right h2 {
    font-weight: 400;
    font-size: 30px;
}

.cloneContainer .right .order {
    background-color: #18182f;
    color: white;
    width: 200px;
    margin-top: 50px;
}

@media(max-width:1000px) {

    .cloneContainer {
        flex-direction: column;
        gap: 5vh;
    }


    .cloneContainer .img {
        width: 70%;
        align-self: center;

    }

    .cloneContainer .right {
        width: 100%;

    }
}

@media(max-width:500px) {

    .cloneContainer .img {
        display: none;

    }

}


.hdiwContainer {
    width: 85vw;
    margin: auto;
    padding-top: 5em;
}

.hdiwContainer .titleH2,
.hdiwContainer .titleP{
    width: 60%; 
    text-align: center;
    margin: auto;
}

.hdiwContainer .titleP{
    margin-bottom: 50px;
}


.hdiwContainer h2 {
    font-weight: 400;
    font-size: 30px;
}

.hdiwContainer .container {
    display: flex;
    justify-content: space-between;

}

.hdiwContainer .container .img {
    width: 50%;
}


.hdiwContainer .container .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}


.hdiwContainer .container .right .note {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.737);
    margin-bottom: -20px;
}


.right .checkboxContainer {
    display: flex;
    align-items: flex-start;
    gap:20px;
}

.right .checkboxContainer .box{
    min-width: 30px;
    min-height:30px;
    border: 3px solid #18182f;
    border-radius: 6px;
    margin-top: 5px;
}

.checkboxContainer .text p{
    font-size: 14px;

}
.checkboxContainer .text p:nth-child(1){
   color: #18182f;
   font-weight: 600;
   font-size: initial;
   opacity: 1; 
}

.right .arrowContainer {
    display: flex;
    align-items: center;
    gap:30px;
}

.right .arrowContainer i {
    font-size: 35px;
    opacity: .6;
    cursor: pointer;
    transition: .3s;
}

.right .arrowContainer i:hover {
    opacity: 1;
}


.hdiwContainer .container .right .order {
    background-color: #18182f;
    padding: 1.2em .5em;
    text-align: center;
    color: white;
    width: 200px;
    margin-top: 50px;
}

@media(max-width:1000px) {

    .hdiwContainer .titleH2,
    .hdiwContainer .titleP{
        width: 95%; 
        text-align: center;
        margin: initial auto;
    }


    .hdiwContainer .container {
        flex-direction: column;
        gap: 5vh;
    }


    .hdiwContainer .container .img {
        width: 70%;
        align-self: center;

    }

    .hdiwContainer .container .right {
        width: 100%;

    }
    .right .arrowContainer {
        display: flex;
        align-items: center;
        align-self: center;
        gap:100px;
    }

}

@media(max-width:500px) {

    .hdiwContainer .container .img {
      display: none;
    }
}


.createAccountContainer {
    display:flex;
    flex-direction:column;
    gap:5vh;
    padding-top: 5em;
}


.createAccountContainer .titleContainer{
    width: 300px;
    margin-bottom: -100px;
    margin-left: 75px;
}

.createAccountContainer .note {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.737);
}

.createAccountContainer h2 {
    font-weight: 400;
    font-size: 30px;
}


.createAccountContainer .container  {
    background-color: #18182f;
    padding: 5em 1em;
    padding-top: 10em;
    width: 100%;
    clip-path: polygon(0 18%, 100% 3%, 100% 100%, 0% 100%);

}

.container .top,
.container .bottom  {
    display: flex;
    align-self: center;
    gap:50px;
    overflow-x: scroll;
}

.container .bottom  {
    margin-top: 40px;
}



.createAccountContainer .container .card {
    width: 400px;
    height: 200px;
    min-width:400px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
}


 .card.features {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
}

.card.checkbox {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap:5px;
 }

.card.checkbox div {
    width: 30px;
    height:30px;
    border: 3px solid #18182f;
    border-radius: 7px;
    margin-bottom: 8px;
}

.card.checkbox p:nth-child(2) {
    color: #18182f;
    font-weight: 600;
    opacity: 1; 
}
@media(max-width:600px){
    .createAccountContainer .titleContainer{
        width: 280px;
        margin-bottom: -80px;
        margin-left: 20px;
    }
}

@media(max-width:450px){
    .createAccountContainer .container .card{
        min-width:80vw;
        width: 80vw;
        min-height: max-content;
        height: auto;
    }
}

.reviewContainer {
    padding: 5em 5em 0em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reviewContainer p:nth-child(1){
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.737);
    opacity: .8;
    margin-bottom: 10px;
}

.reviewContainer .reviews {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.reviewContainer .reviews i {
    font-size: 50px;
    opacity: .6;
    cursor: pointer;
    transition: .3s;
}


.reviewContainer .reviews i:hover {
    opacity: 1;
}

.reviewContainer .reviews p {
  font-size: 28px;
  width: 80%;
}

.reviewContainer .person  {
 display: flex;
 align-items: center;
 width: 300px;
 gap:24px;
 text-align: initial;
 margin-top: 50px;

}

.reviewContainer .person .img  {
 width: 25%;
}

.reviewContainer .person img  {
    border-radius: 50%;
}

.reviewContainer .person .name   {
 width: 50%;
 flex: 1;
}

.person .name span {
display: block;
opacity: .7;
}

.person .name span:nth-child(1) {
font-weight: 600;
color: #18182f;
opacity: 1;
}

@media(max-width:800px) {
    .reviewContainer {
        padding: 5em 1em 0em 1em;
    }
    .reviewContainer .reviews p {
        font-size: 5vw;
      }

      .reviewContainer .reviews i {
        font-size: 9vw;
    }
}

footer {
    padding-top: 5em;
}

footer .top {
    background-color: #18182f;
    padding: 4em 10em;
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px 0px;
}

footer .top .text p:nth-child(1) {
   opacity: .8;
   color: rgba(255, 255, 255, 0.392);
   font-size: 15px;
}

footer .top .text p:nth-child(2) {
   color: white;
   opacity: 1;
   font-weight: 400;
   font-size: 30px;
}

footer .top .btns {
   display: flex;
   align-items: center;
   gap:30px;
   justify-content: space-between;
}

.top .btns .order {
   border-radius: 2px;
   width: 230px;
   text-align: center;
   font-weight: 700;
}

.top .btns .order:nth-child(1) {
  background-color:rgba(167, 167, 167, 0.238);
    color: white;
}
@media(max-width:730px) {
    footer .top {
        padding: 4em 2em; 
        text-align: center;
    }

    footer .top .btns {
        flex-wrap: wrap;
        justify-content: center;
     }
}

footer .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 3em 7em;
    flex-wrap: wrap;
}

footer .bottom ul  {
    display: flex;
    flex-direction: column;
    gap:15px;
    flex:1;
}

footer .bottom ul li {
    display: flex;
    align-items: center;
    gap:15px;
    font-weight: 300;
    opacity: .7;
    font-size: 14px;

}


.bottom ul .title  {
    font-weight: 600;
    color: #18182f;
    opacity: 1;
}

.bottom ul .boxes  {
    margin-top: 20px;
}

.bottom ul .box  {
    width: 21px;
    height: 21px;
    border: 3px solid #18182f;
    border-radius: 5px;
}

footer .bottom ul.products li:nth-child(2){
    color: #18182f;
    opacity: 1;
    font-weight: 400;
}

footer .bottom li i{
   font-size: 18px;
}



