
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: $primary-font;
    background-color: black;
    color:white;
    overflow-x: hidden;
}
a {
    color:inherit;
    cursor:pointer
}
img {
    max-width: 100%;
}
li {
    cursor: pointer;
    text-transform: uppercase;
}
i {
    cursor: pointer;
}
p {
    line-height: 1.6em;
}
