.FadeBg {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none
    }
}