.FadeBg {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation-name: fade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes fade {
    from {
        opacity: 1;
        z-index: 1;
    }
    to {
        opacity: 0;
        z-index: -1;       
    }
}