.Model {
    position: sticky;
    top:0;
    @include flexbox(center,flex-start,0px,column);
    opacity: 1;
    z-index: -1;
    transition: .5s;
}
.Model__Note {
    width: 475px;
    height: 1000px;
    margin-left: 5em;
    margin-top: -25em;
}
.Model .Chart {
    opacity: 0;
}


@media(max-width:835px){
    .Model__Note {
        width: 80vw;
    }
}
@media(max-width:775px){
    .Model {
        @include flexbox(center,center,0px,column);
    }
}
