.SlideShow {
    position: relative;
    @include flexbox(space-between,flex-start,0px,column)
}
.SlideShow__Slides {
    position: relative;
    transition: 1s;
}
.Slides__IMG {
    position: absolute;
    transition: 1.3s ease-out;
}
.SlideShow__Controls{
    position: absolute;
    @include flexbox(space-between,center,0px,row);
    bottom: 0px;
    background-color: black;
    width: 100%;
    padding: 2em 3em;
}
.SlideShow__Controls--Icon {
    font-size: 30px;
}
.SlideShow__Note {
    font-size: 14px;
    transition: 1s;
}