header{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    padding: 1.5em 3em;
    transition: 1s;
    z-index: 2;
    /* background-color: rgba(0, 0, 0, 0.945); add to other pages */
}
.Header__Nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.Header__Nav__List {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    gap:25px;
}
.Header__Nav__List li {
    position: relative;
}
.Header__Nav__List li::after {
    content: '';
    position: absolute;
    bottom:0;
    right:0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: .5s;
}
.Header__Nav__List li:hover::after {
    right:unset;
    left:0;
    width: 100%;
}
.Header__Logo.Header__Logo {
    width: 230px;
    margin-left: 2em;
}
.Header__Logo.Header__Logo::after {
    all:unset;
}
.Hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:4px;
}
.top,
.mid,
.bott {
    background-color: white;
    width: 20px;
    height: 1px;
}
.Nav__List__Mobile{
    position: fixed;
    top:0;
    right:-500px;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.945);
    padding: 2em 3em 0em 4em;
    transition: all .3s;
}
.Nav__List__Mobile--icon {
    font-size: 20px;
    transition: all .2s;

}
.Nav__List__Mobile--link {
    width: 250px;
    font-size: 15px;
    text-align: end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.224);
    padding: .5em 0em;
}
@media(max-width:1300px){
    .Nav__List2 li:nth-of-type(1) {
        display: none;
    }
}
@media(max-width:500px){
    header{
        padding: 1.5em 2em;
    }
    .Header__Logo {
        width: 230px;
        margin-left: 0em;
    }
}