.Hero.Landing {
  background: url(../img/falcon-9.webp) center center;
  background-size: cover;
  text-align: center;
}

.Hero.F9 {
  background: url(../img/falcon-9_lines.jpg) center center;
  background-size: cover;
}

.Hero.Merlin {
  background: url(../img//merlin.jpg) center center;
  background-size: cover;
  align-items: start;
}

@media (max-width: 775px) {
  .Hero.Merlin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }
}
footer {
  padding-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  gap: 3em;
  font-size: 14px;
  text-align: center;
}

.Footer__Bar {
  height: 150px;
  width: 1px;
  background-color: white;
}

.Footer__Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

footer button {
  padding: 1.3em 1em;
}

.Footer__Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 3em 0em;
  font-size: 12px;
}

.Footer__Links a {
  text-transform: uppercase;
  color: white;
}

@media (max-width: 480px) {
  .Footer__Buttons {
    flex-direction: column;
  }
  footer button {
    width: 250px;
  }
}