.Hero.Landing {
  background: url(../img/falcon-9.webp) center center;
  background-size: cover;
}

.Hero.F9 {
  background: url(../img/falcon-9_lines.jpg) center center;
  background-size: cover;
}

.Hero.Merlin {
  background: url(../img//merlin.jpg) center center;
  background-size: cover;
  align-items: start;
}

@media (max-width: 775px) {
  .Hero.Merlin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }
}