.Hero.Landing {
  background: url(../img/falcon-heavy.webp) center center;
  background-size: cover;
  text-align: center;
}

.Hero.FHeavy {
  background: url(https://www.spacex.com/static/images/falcon-heavy/desktop/WebsiteFHFairings_Lines_Desktop.jpg) center center;
  background-size: cover;
}

.Video {
  background: url(https://www.spacex.com/static/images/backgrounds/fh_video.jpg) center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
  gap: 0px;
  flex-direction: column;
  position: relative;
}

.Hero.Merlin {
  background: url(../img//merlin.jpg) center center;
  background-size: cover;
  align-items: start;
}

@media (max-width: 775px) {
  .Hero.Merlin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }
}