@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: poppins;
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-size: 15px;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

li {
  cursor: pointer;
  text-transform: uppercase;
}

i {
  cursor: pointer;
}

p {
  line-height: 1.6em;
}

button {
  border: 2px solid white;
  background: transparent;
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

button::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  background-color: white;
  width: 100%;
  height: 0%;
  transition: all 0.3s;
  z-index: -1;
}

button:hover {
  color: black;
}

button:hover::after {
  top: unset;
  bottom: 0;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5em 3em;
  transition: 1s;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.945); add to other pages */
}

.Header__Nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: unset;
  flex-direction: row;
}

.Header__Nav__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-direction: row;
  font-size: 13px;
  font-weight: 700;
}

.Header__Nav__List li {
  position: relative;
}

.Header__Nav__List li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: 0.5s;
}

.Header__Nav__List li:hover::after {
  right: unset;
  left: 0;
  width: 100%;
}

.Header__Logo.Header__Logo {
  width: 230px;
  margin-left: 2em;
}

.Header__Logo.Header__Logo::after {
  all: unset;
}

.Hamburger {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-direction: column;
}

.top,
.mid,
.bott {
  background-color: white;
  width: 20px;
  height: 1px;
}

.Nav__List__Mobile {
  position: fixed;
  top: 0;
  right: -500px;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.945);
  padding: 2em 3em 0em 4em;
  transition: all 0.3s;
}

.Nav__List__Mobile--icon {
  font-size: 20px;
  transition: all 0.2s;
}

.Nav__List__Mobile--link {
  width: 250px;
  font-size: 15px;
  text-align: end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.224);
  padding: 0.5em 0em;
}

@media (max-width: 1300px) {
  .Nav__List2 li:nth-of-type(1) {
    display: none;
  }
}
@media (max-width: 500px) {
  header {
    padding: 1.5em 2em;
  }
  .Header__Logo {
    width: 230px;
    margin-left: 0em;
  }
}
footer.footer-primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: unset;
  flex-direction: row;
  padding: 0em 1em;
  height: 20vh;
  background-color: black;
  font-size: 12px;
  font-weight: 600;
}

.footer-primary--links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.Hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: unset;
  flex-direction: column;
}

.Hero__Title {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}

.Hero__Note {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5em;
  font-weight: 300;
}

.FadeBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation-name: fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes fade {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
.Stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px 150px;
  flex-direction: row;
  padding: 3em 0em;
}

.Stats__Stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: unset;
  flex-direction: column;
}

.Stats__Stat--number {
  height: 150px;
  font-size: 120px;
}

.Stats__Stat--detail {
  font-size: 20px;
  text-transform: uppercase;
}

.Model {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  flex-direction: column;
  opacity: 1;
  z-index: -1;
  transition: 0.5s;
}

.Model__Note {
  width: 475px;
  height: 1000px;
  margin-left: 5em;
  margin-top: -25em;
}

.Model .Chart {
  opacity: 0;
}

@media (max-width: 835px) {
  .Model__Note {
    width: 80vw;
  }
}
@media (max-width: 775px) {
  .Model {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }
}
.Chart {
  margin-left: 6em;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  gap: 0px;
  flex-direction: column;
  transition: 0.5s;
}

.Chart__Name {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.Chart__Title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

.Chart__Note {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
}

.Chart__Note span {
  white-space: pre;
}

.Chart__Note a {
  opacity: 0.6;
  transition: 0.4s;
}

.Chart__Note:hover a {
  opacity: 1;
}

.Chart__Description {
  width: 520px;
  margin-bottom: 2em;
}

.Chart__Info {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  gap: 15px;
  flex-direction: column;
}

.Chart__Info__Detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.419);
  padding-bottom: 1em;
}

.Info__Detail__Property {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.Info__Detail__Value {
  font-weight: 500;
}

.Info__Detail__Value span {
  opacity: 0.4;
}

@media (max-width: 1260px) {
  .Chart__Description {
    width: 40vw;
  }
  .Chart__Info {
    width: 40vw;
  }
}
@media (max-width: 775px) {
  .Chart {
    width: 80vw;
    margin-left: 0em;
  }
  .Chart__Description {
    width: 80%;
  }
  .Chart__Info {
    width: initial;
  }
  .Chart__Description,
  .Chart__Info {
    background-color: rgba(0, 0, 0, 0.834);
    padding: 15px;
    border-radius: 2px;
  }
}
@media (max-width: 500px) {
  .Chart {
    width: 95vw;
  }
  .Chart__Description,
  .Chart__Info {
    width: initial;
  }
  .Info__Detail__Value {
    font-size: 13px;
  }
}
.Video {
  background: url(../img/f9_video_Bg.jpg) center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
  gap: 0px;
  flex-direction: column;
  position: relative;
}

.Video__Info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 0px;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 6em;
  margin-bottom: 10em;
}

.Video__Tag {
  font-weight: bold;
  font-size: 14px;
}

.Video__Title {
  font-weight: 600;
  font-size: 45px;
}

.Video__Icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  font-size: 60px;
  transition: 0.5s;
}

.Video:hover .Video__Icon {
  transform: scale(0.7);
}

@media (max-width: 870px) {
  .Video__Info {
    display: none;
  }
}
.VideoPlayer {
  background: black;
  position: fixed;
  top: 100vh;
  justify-content: space-between;
  z-index: 2;
  padding: 1em 0em;
  transition: 0.6s;
}

.VideoPlayer__Video {
  height: 80%;
  width: 65%;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.VideoPlayer__Title {
  text-transform: uppercase;
  font-weight: 600;
}

.VideoPlayer__Icon {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 25px;
}

@media (max-width: 1000px) {
  .VideoPlayer__Video {
    width: 90%;
  }
  .VideoPlayer__Icon {
    right: 20px;
  }
}
@media (max-width: 800px) {
  .VideoPlayer__Video {
    width: 100%;
  }
  .VideoPlayer__Icon {
    right: 0px;
    width: 100%;
    top: unset;
    bottom: 60px;
    text-align: center;
  }
}
.SlideShow {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  flex-direction: column;
}

.SlideShow__Slides {
  position: relative;
  transition: 1s;
}

.Slides__IMG {
  position: absolute;
  transition: 1.3s ease-out;
}

.SlideShow__Controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  bottom: 0px;
  background-color: black;
  width: 100%;
  padding: 2em 3em;
}

.SlideShow__Controls--Icon {
  font-size: 30px;
}

.SlideShow__Note {
  font-size: 14px;
  transition: 1s;
}