.Hero.Landing {
  background: url(https://www.spacex.com/vehicles/starship/assets/images/Starhip_website-crop20230126_dji_0199_01.jpg) center center;
  background-size: cover;
  text-align: center;
}

.Hero.StarShip {
  background: url(https://www.spacex.com/vehicles/starship/assets/images/WebsiteStarship_Render_Desktop.jpg) center center;
  background-size: cover;
}

.Model__Note {
  height: 1200px;
  margin-top: -75em;
}

.Video {
  background: url(https://www.spacex.com/vehicles/starship/assets/images/capabilities/STARSHIP_CAPABILITIES_StarshipAnimation_Desktop.jpg) center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
  gap: 0px;
  flex-direction: column;
  position: relative;
}

.SlideShow__Controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
  flex-direction: row;
  bottom: 5em;
  background-color: transparent;
  width: 100%;
  padding: 2em 3em;
}

.SlideShow__Note {
  position: absolute;
  max-width: 50%;
  top: -30em;
  left: 5em;
  background-color: rgba(0, 0, 0, 0.766);
  padding: 0.8em;
  border-radius: 5px;
}

.SectionP {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: end;
  justify-content: start;
}

.SectionP.StarBase {
  background: url(https://www.spacex.com/vehicles/starship/assets/images/STARSHIP_STARBASE_Desktop.jpg) center center;
  background-size: cover;
}

.SectionP__Video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.SectionP__Info {
  margin-left: 6em;
  margin-bottom: 10em;
}

.SectionP__Info__Title {
  font-size: 40px;
  text-transform: uppercase;
}

.SectionP__Info__Description {
  max-width: 450px;
  margin: 2em 0em;
}

.SectionP__Info button {
  padding: 1.3em 3em;
}

footer {
  padding-top: 8em;
}